*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #d8d8d8;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 600px;
    width: 100%;
}

form input {
    font-size: 14px;
    background-color: #fff;
    margin-right: 5px;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: #a2a4ad;
    color: #050000;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
}

li.completa {
    text-decoration: line-through;
}